<launch>

    <node pkg="motor_driver" exec="motor_driver_node" name="motor_driver">
        <param name="config" value="boom.yaml"/>
    </node>

    <node pkg="leg_kinematics" exec="leg_kinematics_node" name="leg_kinematics">
        <param name="config" value="boom.yaml"/>
    </node>

    <node pkg="gait_publisher" exec="gait_publisher_node" name="gait_publisher">
        <param name="config" value="gaits.yaml"/>
    </node>

    <node pkg="boom_encoders" exec="boom_encoders_node" name="boom_encoders">
        <param name="serial_port" value="/dev/ttyACM0"/>
        <param name="baud_rate" value="9600"/>
        <param name="publish_rate" value="100"/>
        <param name="base_cycles_per_revolution" value="161792"/>
        <param name="arm_cycles_per_revolution" value="1"/>
    </node>

</launch>